<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>Insert/Update New Language</title>
<link th:href="@{/styles.css}" rel="stylesheet" />
</head>

<body>
	<h2>Insert/Update Language</h2>
	<form id="newLanguage" th:object="${newLanguage}"
		th:action="@{/saveLanguage/{id}(id=${newLanguage.langId})}" method='POST'>
		<table>
			<tr>
				<td><label for="name">Name </label>
					<input id="name" name="languageName" size="40" th:field="*{languageName}" required/><br />
				</td>
			</tr>
		</table>
		<br /> <input name="submit" type="submit" value="submit" />
	</form>
	<br />

<div lang="en" th:replace="fragments/footer :: footer"></div>
</body>
</html>